node_modules

/generated/prisma

# Fichiers générés par Node.js/npm
/node_modules
/dist
/build

# Fichiers sensibles
.env
.env.local

# Fichiers générés par Next.js/Vercel
/.next/
/out/

# Fichiers générés par Prisma
/prisma/client
